body {
    font-family: Ubuntu, Verdana, sans-serif;
    font-size: 10pt;
    background: #cbd9de;
    margin: 0px;
    padding: 0px;
}

#topbar {
    width: 100%;
    margin: 0;
    padding: 5px;
    background: black;
    color: white;
    min-height: 12pt;
    text-align: center;
}
#topbar ul {
    margin: 0px;
    padding: 0px;
}
#topbar li {
    display: inline;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;
}
#topbar .left {
    float: left;
    margin-left: 20px;
}
#topbar .right {
    float: right;
    margin-right: 20px;
}

#topbar a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#topbar a:hover {
    color: #cbd9de;
    text-decoration: underline;
}

div.dialog {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    padding: 10px;
    background: #ededed;
    color: #333;
    border: #30677c 1px solid;
    border-radius: 15px;
    min-height: 100px;
}
div.dialog label {
    display: inline-block;
    font-weight: bold;
    width: 20%;
    margin: 5px;
}
div.dialog input {
    display: inline-block;
    width: 70%;
    background: white;
    border: #30677c 1px solid;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
}
.button, div.dialog input.button {
    background: #2a2a2a;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
div.error {
    color: red;
    font-weight: bold;
    border: #220000 dashed 1px;
    padding: 5px;
    text-align: center;
}
div.buttoncontainer {
    text-align: center;
}
span.title {
    font-weight: bold;
    text-align: center;
}
