.F {
    border: 2px solid #666;
    margin: 5px;
    padding: 0px;
    width: 96%;
}
.F>.hb {
    display: block;
    background: #666;
    width: 100%;
    min-height: 16px;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 9px;
}
.slot {
    display: block;
    background: #eee;
    min-width: 25px;
    min-height: 25px;
    color: #eee;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.slot:hover {
    background: #bbb;
    color: #333;
}
div.s .slot {
    display: inline-block;
    min-width: 5px;
    min-height: 20px;
}

div.s .slot:hover {
    display: inline-block;
    min-width: 25px;
    min-height: 25px;
}

div.div {
    display: block;
    margin-bottom: 5px;
    border: 2px solid #742222;
}
div.div>.hb {
    background: #742222
}

div.p {
    display: block;
    margin-bottom: 5px;
    border: 2px solid #746b22;
}
div.p>.hb {
    background: #746b22;
}

div.s {
    display: block;
    border: 2px solid #272274;
}
div.s>.hb {
    background: #272274;
}

div.w {
    display: inline-block;
    width: auto;
    border: 2px solid #b9d8d9;
}
div.w>.hb {
    background: #b9d8d9;
    color: black;
}

div.head {
    font-size: 120%;
    font-weight: bold;
    border: 2px solid black;
}
div.head>.hb {
    background: black;
}
.hb .id {
    display; inline;
    color: #ddd;
    font-size: 8px;
    font-weight: normal;    
    font-style: normal;
}
.w>.hb>.id {
    display: none;
}

span.lbl {
    display: none;
    padding: 0;
    margin: 0;
}
