.F:hover {
    cursor: pointer;
}
div.div, div.p {
    display: block;
    margin-bottom: 5px;
}
div.s, div.w,div.part,div.s div.quote,div.p div.quote {
    display: inline;
}
div.head {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

span.lbl {
    display: none;
    padding: 0;
    margin: 0;
}

div.focustype span.lbl {
    background: #bfbfbf;
}

div.undofocustype span.lbl {
    background: transparent;
}

div.class1 span.lbl, div#class1legend {
    background: #b4e0aa; //green
}
div.class2 span.lbl, div#class2legend {
    background: #aaace0; //blue 
}
div.class3 span.lbl, div#class3legend {
    background: #e19898; //red
}
div.class4 span.lbl, div#class4legend {
    background: #e1e098; //yellow 
}
div.class5 span.lbl, div#class5legend {
    background: #98e1dd; //cyan
}
div.class6 span.lbl, div#class6legend {
    background: #dcc6da; //pink
}
div.class7 span.lbl, div#class7legend {
    background: #e1c398; //orange
}
div.hover span.lbl {
    background: #b9d8d9;
}

div#legend {
    position: fixed;
    display: none;
    width: 160px;
    left:10px;
    top: 100px;
    background: transparent;
    font-size: 9px;
}
div#legend .colorbox {
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    border: 1px #444 solid;
    border-radius: 16px;
}
div#legend span {
    display: inline-block;
}
div#legend .title {
    display: block;
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-align: left;
}

div#info {
    position: absolute;
    display: none;
    width: 480px;
    min-height: 25px;
    opacity: 0.95;
    background: #b9d8d9;
    padding: 2px;
    margin: 5px;
    text-align: left;
    border: #30677c 1px solid;
}
div#info table {
    width: 100%;
}
div#info th {
    width: 39%
    font-weight: bold;
    vertical-align: top;
}
div#info th span.setname {
    font-weight: normal;
    text-size: 8pt;
    padding-left: 10px;
}
div#info td {
    width: 59%
    font-style: italic;
}
div#info .class {
    font-style: italic;
    color: #31355a;
}
div#info .annotator {
    font-style: italic;
    color: #2d7431;
}
div#info .datetime {
    font-style: italic;
    color: #72742d;
}
div#infoheader {

}
nav li .setname {
    display: block;
    max-width: 150px;
    font-size: 8px;
    font-style: italic;
}
div#info div#id {
    width: 100%;
    text-align: center;
    font-size: 8px;
    font-style: italic;
    color: #666;
}
div#info .setname {
    font-size: 8px;
    font-style: italic;
}

div#info div.correction {
    width: 90%;
    border: 1px dashed #666;
    padding: 2px;
}
div#info div.correction span.title {
    color: #680000;
    font-weight: bold;
}
div#info div.correctionchild {
    padding-left: 10px;
}

div.deleted span.lbl {
    text-decoration: line-through;
    color: red;
}
