{% extends "base.html" %}

{% block head %}
<!-- dependencies -->
<link rel="StyleSheet" href="/style/flat.viewer.css" type="text/css" />
<script type="text/javascript" src="/style/flat.viewer.js"></script> 
{% endblock %}

{% block menu %}
{% include "viewermenu.html" %}
<li>Tools &amp; Options
<ul id="toolsandoptions">
    <li><a href="javascript:declare()">Add new Annotation Type</li>
    <li id="showannotatordetails"><a href="javascript:showannotatordetails()">Show annotator details</li>
</ul>
</li>
{% endblock %}

{% block dialogs %}
<div id="legend"></div>
<div id="info"></div>
<div id="editor">
    <div id="editorheader">
        <span>Annotation Editor</span>
        <button id="editordiscard">x</button>
    </div>
    <div class="body">
    </div>
    <div class="buttoncontainer">
        <span id="editoraddfields">New:
        <select id="editoraddablefields">
        </select>
        <button id="editoraddfield">+</button></span>
        
        <span id="editortargets">Targets:
        <select id="editortargetlist">
        </select>
        <button id="editorselecttarget">Select&gt;</button>
        </span>
    </div>
    <div class="buttoncontainer">
        <button id="editorsubmit">Ok</button>
    </div>
</div>
{% endblock %}

{% block main %}
<div id="document">
{{ dochtml|safe }}
</div>
{% endblock %}

