<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="author" content="Maarten van Gompel" />
        <title>FoLiA Linguistic Annotation Tool</title>
        <script type="text/javascript" src="/style/jquery-1.10.2.min.js"></script>
        <link rel="StyleSheet" href="/style/flat.css" type="text/css" />
        <script type="text/javascript" src="/style/flat.js"></script> 
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="topbar">
            <div class="left">
            <ul>
            {% block topbar_left %}
            {% endblock %}
            </ul>
            </div>
            <div class="right">
            <ul>
            {% block topbar_right %}
            {% endblock %}
            {% if loggedin %}
            <li><a href="/">My Documents</a></li>
            <li><a href="/logout/">Log out {{ username }}</a></li>
            {% endif %}
            </ul>
            </div>
            <span style="clear: both"></span>
        </div>
        
        <div id="main">
            {% block main %}
            {% endblock %}
        </div>
    </body>
</html>
