<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="author" content="Maarten van Gompel" />
        <title>FoLiA Linguistic Annotation Tool</title>
        <script type="text/javascript" src="/style/jquery-1.10.2.min.js"></script>
        <link rel="StyleSheet" href="/style/flat.css" type="text/css" />
        <script type="text/javascript" src="/style/flat.js"></script> 
        {% for m in modes %}
            <link rel="StyleSheet" href="/style/flat.{{ m }}.css" type="text/css" />
            <script type="text/javascript" src="/style/flat.{{ m }}.js"></script> 
        {% endfor %}
        {% block head %}
        {% endblock %}
        {% if docid %}
        <script type="text/javascript">
            username = "{{ username|safe }}";
            docid = "{{ docid|safe }}";
            modes = {{ modes_json|safe }};
            mode = "{{ mode }}";
            {% if docannotations %}
            initialannotationlist = {{ docannotations|safe }};
            {% endif %}
        </script>
        {% endif %}
    </head>
    <body>
        <div id="topbar">
            <div class="left">
            <nav>
                <ul>
                <li>Modes
                <ul>
                    {% if docid %}
                        {% for mode, modename in modes %}
                        <li><a href="/{{ mode }}/{{ docid }}/">{{ modename }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                </li>
                {% block menu %}
                {% endblock %}
                </ul>
            </nav>
            </div>
            <span class="title">FoLiA Linguistic Annotation Tool</span>
            <div class="right">
            <ul>
            {% block topbar_right %}
            {% endblock %}
            {% if loggedin %}
            <li><a href="/">My Documents</a></li>
            <li><a href="/logout/">Log out {{ username }}</a></li>
            {% endif %}
            </ul>
            </div>
            <span style="clear: both"></span>
        </div>
       
        <div id="toolbox">
        </div>

        <div id="main">
            {% block main %}
            {% endblock %}
        </div>
    </body>
</html>
