{% extends "base.html" %}

{% block main %}
<div id="logindialog" class="dialog">
    <h3>Log in</h3>
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
    <form action="/login/" method="post">
    <label>Username:</label> <input name="username" /><br />
    <label>Password:</label> <input type="password" name="password" /><br/>
    <div class="buttoncontainer">
        <input class="button" type="submit" value="Log in" />
    </div>
    {% csrf_token %}
    </form>
</div>
{% endblock %}

