{% extends "base.html" %}


{% block menu %}
{% include "viewermenu.html" %}
<li>Tools &amp; Options
<ul id="toolsandoptions">
    <li id="toggleannotatordetails"><a href="javascript:toggleannotatordetails()">Show annotator details</a></li>
    <li id="toggleoriginal"><a href="javascript:toggleoriginal()">Show uncorrected text</a></li>
</ul>
{% endblock %}

{% block dialogs %}
<div id="legend"></div>
<div id="info"></div>
{% endblock %}

{% block main %}
<div id="document">
{{ dochtml|safe }}
</div>
{% endblock %}

